/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto|Source+Sans+Pro');
body {
    font-family: 'Source Sans Pro', sans-serif;
  
}

* {
    text-decoration: none;
}

.container{ 
    max-width: 1005px;
    margin: 0 auto;
    padding: 2em 1em;
}
header {
    text-align: center;
}

header .logo {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    color: #055902;
}

nav {
    margin: 2em auto 0;
    max-width: 600px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    font-size: 1.25em;
    color: #055902;
    font-weight: 700;
    text-decoration: none;
}

.banner {
    color: #09A603;
    background-color: #032E2C
}
main {
    display: flex;
    flex-flow: column;
    
}

.hero {
   text-align: center;
}


.hero h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.hero p {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 500px;
    line-height: 1.8em;
    margin: 3em auto;
}

.hero p:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #FFDB37;
    margin: 1em auto; 
}

.hero a {
    background: rgb(206, 206, 2);
    padding: 1em 3em;
    border-radius: 50px;
    color: green;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}

a:hover {
    color: rgba(178, 224, 9, 0.5);
}


.ads {
    color: #010A30;
}
figure {
    text-align: center;
}

figure img{
    margin: 3em auto 0;
    width: 300px;
}


.bgImgCenter{
    background-image: url('../img/hands-1768845_1920.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* features */
.index-links{
    background-color: gainsboro;


}
.index-links div {
    margin: 16px 16px 0;
    padding-top: 15px;
    width: calc(100% - 32px);
    height: 200px;
    text-align: center;
    background-color: #f2f2f2;
}
.process{
  margin: 20px 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #02173E;
}
.index-links p {
    margin: 10px;
    color: rgb(54, 50, 50);
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.index-links div h2 {
    font-weight: 500;
    font-size: 26px;
    color: rgb(5, 59, 3);
}
.index-links  i {
    margin: 10px 0 10px 0;
    color:rgb(73, 238, 8);
}


/*
    ========================================
    mobile voters education
    ========================================
*/

  .voters-parent {
    background-color: rgb(156, 238, 153);
    height: 80px;
 } 
  .voters {
      display: flex;
      justify-content: center;
      
  }

  .voter-item {
      color: rgba(26, 4, 77, 0.767);
      font-size: 20px;
  }

  .voter-item strong {
    color: red;
}


@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }

    header .logo {
        font-size: 25px;
        font-weight: 900;
        letter-spacing: .5px;
        line-height: 44px;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
        color: #09A603;
    }
    
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }
    
    nav ul li a {
        font-size: 1.2em;
        color: #055902;
        font-weight: 700;
        text-decoration: none;
    }

    .highlight {
        border: 3px solid #FFDb37;
        border-radius: 30px;
        margin: 0 5px;
    }

    .vote-btn {
        background-color: rgb(206, 206, 2);
    }
    
    main {
        display: flex;
        flex-flow: column;
    }
    
    .hero {
       text-align: left;
    }

    .hero h1 {
        font-size: 4em;
    }
    
    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 3em 0;
    }
    
    .hero p:before {
        margin: 1em 0; 
    }
    .hero a {
        background: rgb(206, 206, 2);
    }

    a:hover {
        color: rgba(178, 224, 9, 0.5);
    }
    
    figure {
        text-align: center;
    }
    
    .figure img{
        margin: 0;
        width: 300px;
    }


    /*
    ========================================
    voters education
    ========================================
  */

 .voters-parent {
    background-color: rgb(156, 238, 153);
    height: 100px;
 } 
  .voters {
      display: flex;
      justify-content: center;
      
  }

  .voter-item {
      color: rgba(26, 4, 77, 0.767);
      font-size: 40px;
  }

  .voter-item strong {
    color: red;
}
 
}



@media only screen and (min-width: 1000px) {
    /* features how it works*/

    .index-links div {
        margin: 20px 16px 0;
        height: 310px;
        background-color: #f2f2f2;
        float: left;
    }
    .index-links {
        overflow: hidden;
    }
    .index-boxlink {
        width: calc(32% - 20px) !important;
    }
    .process{
      margin: 35px 0 20px 0;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      color: rgb(5, 59, 3);
    }
    .index-links p {
        margin: 10px;
        color: rgb(54, 50, 50);
        text-align: center;
        font-weight: 200;
        font-size: 20px;
        line-height: 30px;
    }
    
    .index-links div h2 {
        font-weight: 700;
        font-size: 20px;
        color: rgb(5, 59, 3);
        margin-top: 30px;
        

    }
    .index-links  i {
        margin: 15px 0 10px 0;
        color:rgb(73, 238, 8);
    }



}





/*
    ========================================
    Footer
    ========================================
  */

  footer {
    width: calc(100% - 80px);
    padding: 20px 40px;
    background-color: #f2f2f2;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-size: 16px;
    color: #055902;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    .footer {
        color: #055902;
        font-size: 14px;
        padding: 20px 0;
        
      }
      .footer small {
        float: left;
        font-weight: 400;
      }
      footer ul {
        width: fit-content;
        float: right;
        
    }
    footer ul li {
        display: inline-block;
        margin: 10px;
      

    }
}



/*
  ========================================
  Schedule
  ========================================
*/

table {
    margin-bottom: 44px;
    width: 100%;
  }
  table:last-child {
    margin-bottom: 0;
  }
  th,
  td {
    padding-bottom: 22px;
    vertical-align: top;
  }
  th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
  }
  td {
    width: 40%;
  }
  thead {
    line-height: 44px;
  }
  thead th {
    color: #648880;
    font-size: 24px;
  }
  tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
  }
  tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
  }
  tbody td:first-of-type {
    padding-right: 15px;
  }
  tbody td:last-of-type {
    padding-left: 15px;
  }
  tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  table a {
    color: #888;
  }
  table h4 {
    margin-bottom: 0;
  }
  .schedule-offset {
    color: #a9b2b9;
  }

/*
    ========================================
    flex schedule
    ========================================
  */


  .schedule {
    display: flex;
    background-color: rgb(15, 4, 36);
}

#warning {
    color: red;
}



/*
    ========================================
    Modal
    ========================================
  */
  /* Full-width input fields */
  #input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1.5px solid #c0c0c0;
    box-sizing: border-box;
    border-radius: 5px;
    
  }
  .rightmodalTab {
  margin-bottom: 15px;
  }
  .modalTab {
  color: rgb(19, 212, 247);
  }
  /* Set a style for all buttons */
  #button {
    background-color:  #679E02;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .modal-container {
    padding: 16px;
  }
  
  span.psw {
    padding: 10px;
    margin: 10px;
    text-align: center
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(2,23,62,0.9); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #164059;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 2px solid #888;
    width: 27%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  .signup-div {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #061929;
  }
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  @media(max-width: 500px) {
   
    .rightmodalTab {
    margin-bottom: 15px;
    }
    .modalTab {
    color: rgb(19, 212, 247);
    }
    /* Set a style for all buttons */
    #button {
      background-color:  #679E02;
      color: white;
      padding: 10px 16px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }
    
    #button:hover {
      opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    .modal-container {
      padding: 16px;
    }
    
    span.psw {
      padding: 10px;
      margin: 10px;
      text-align: center
    }
    
    /* Modal Content/Box */
    .modal-content {
      background-color: #164059;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 63%; 
      border-radius: 10px;
    }
    
    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 15px;
      top: 0;
      color: whitesmoke;
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  @media(max-width: 768px) {
    .modal-content {
      background-color: #164059;
      margin: 10% auto 35% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 2px solid #888;
      width: 50%; 
      border-radius: 10px;
    }
   
  }
