
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto|Source+Sans+Pro');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset
*/

body {
    font-family: 'Roboto', sans-serif;
  
}

* {
    text-decoration: none;
}

/* head */

.container{ 
    max-width: 1005px;
    margin: 0 auto;
    padding: 2em 1em;
}

/*
  ========================================
   mobile header 
  ========================================
*/
 
header {
    text-align: center;
}

header .logo {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    color: #055902;
}

nav {
    margin: 2em auto 0;
    max-width: 600px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    font-size: 1.25em;
    color: #055902;
    font-weight: 700;
    text-decoration: none;
}

.banner {
    color: #09A603;
    background-color: #032E2C
}
main {
    display: flex;
    flex-flow: column;
    
}

.hero {
   text-align: center;
}


.hero h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.hero p {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 500px;
    line-height: 1.8em;
    margin: 3em auto;
}

.hero p:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #FFDB37;
    margin: 1em auto; 
}

.hero a {
    background: rgb(206, 206, 2);
    padding: 1em 3em;
    border-radius: 50px;
    color: green;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}

a:hover {
    color: rgba(178, 224, 9, 0.5);
}


.ads {
    color: #010A30;
}
figure {
    text-align: center;
}

figure img{
    margin: 3em auto 0;
    width: 300px;
}


    /*
    ========================================
    large screen header 
    ========================================
  */
 

@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }

    header .logo {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: .5px;
        line-height: 44px;
        padding: 5px 0;
        text-transform: uppercase;
        text-align: center;
        color: #09A603;
    }
    
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }
    
    nav ul li a {
        font-size: 1.2em;
        color: #055902;
        font-weight: 700;
        text-decoration: none;
    }

    .highlight {
        border: 3px solid #FFDb37;
        border-radius: 30px;
        margin: 0 5px;
    }

    .vote-btn {
        background-color: rgb(206, 206, 2);
    }
    
    main {
        display: flex;
        flex-flow: column;
        margin-top: 0;
    }
    
    .hero {
       text-align: left;
    }

    .hero h1 {
        font-size: 4em;
    }
    
    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 3em 0;
    }
    
    .hero p:before {
        margin: 1em 0; 
    }
    .hero a {
        background: rgb(206, 206, 2);
    }

    a:hover {
        color: rgba(178, 224, 9, 0.5);
    }
    
    figure {
        text-align: center;
    }
    
    .figure img{
        margin: 0;
        width: 300px;
    }
}


/*
    ========================================
    main
    ========================================
  */

  .flex-container {
      display: flex;
      justify-content: space-around;
      height: 1500px;   
  }

  .panel {
    flex-grow: 1;
    background-color: #ceebcd;
   
  }

  .show {
    flex-grow: 12;
    background-color: whitesmoke;

  }

  .navbar {
      font-weight: 700;
      margin: 20px 5px;
      color: black;
      font-size: 18px;
  }

.navbar li {
    margin: 10px 10px 0 0;
    border-radius: 50px;   
}

.navbar ul li {
    list-style: none;
    padding: 0.5em 1em 0.5em 2em;
}

.navbar ul li a {
    color: #070222;
    font-weight: 500;
    text-decoration: none;
    white-space:nowrap;
}

.navbar ul li a:hover {
    color: rgb(83, 69, 7);
}

.navbar ul li i {
    margin: 0  10px 0 8px;
    color: red;
}


/*
    ========================================
    user profile
    ========================================
  */

  .flex-user {
    display: flex;
    flex-direction: column;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color: rgb(216, 200, 200);
}

.profile .card img {
  width:100%;
  height: 20%
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-container {
  padding: 2px 16px;
}

.profile {
  background-color: #ceebcd;
  height: 200px;
 
}

.operation {
 

}

/*
    ========================================
    create party
    ========================================
  */
  * {
    box-sizing: border-box; 
   }

   #title {
       text-align: center;
       font-size: 18px;
       background-color: rgb(140, 207, 138);
       padding: 0 40px;

   }
   .myForm {
     display: flex;
     background-color: white;
     padding: 0.5em 2.5em 1.8em 10em;
   }
   .party {
        flex: 1; 
   }
   .party input {
     width: 100%;
   }
   .party input,
   .party button {
     padding: 1em;
     margin-bottom: 1em;
   }
   .party button {
    background: gray;
    color: white;
    border: 0;
   }

   .labels {
    display: inline-block;
    text-align: right;
    width: 15%;
    padding: 5px 10px ;
    vertical-align: middle;
    margin-top: 10px;
    color: #055902;
  }

  .input-field {
    height: 40px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 1.5px solid #c0c0c0;
    border-radius: 10px;
  }
  
  
  .submit {
    border-radius: 5px;
    background-color: rgb(9, 133, 9);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 30px;
  }
  
  
  @media screen and (max-width: 833px) {
    .input-field {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 520px) {
    .labels {
      width: 100%;
      text-align: left;
    }
    .input-field {
      width: 70%;
    }
  }

/*
    ========================================
    create office
    ========================================
  */

   .wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   background: gray;
   color: white;
   border: 0;
  }


   /*
    ========================================
    all parties 
    ========================================
  */

  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 1em auto;
    padding: 1em;
  }
  
  .is-striped { 
    background-color: rgba(233,200,147,0.2) 
  }
  
  
  /* Table column sizing
  ================================== */
  .date-cell  { 
    width: 20%; 
  }
  .topic-cell  { width: 41%; }
  .access-link-cell  { width: 13%; }
  .replay-link-cell  { width: 13%; }
  .pdf-cell  { width: 13%; }
  
  /* Apply styles
  ================================== */
  .Rtable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
  }
  
  .Rtable-row--head {
    color: red; 
  }
    .Rtable-row {
      width: 100%;
      display: flex;
  }
      
      .Rtable-cell {
        box-sizing: border-box;
        flex-grow: 1;
        padding: 0.8em 1.2em;
        overflow: hidden; 
        list-style: none;
  }
        .column-heading {
          background-color: #43BAC0;
          color: white;
          padding: 1em;
        }
  
        .Rtable-cell--heading {
          display: none;
        }
  
          .Rtable-cell--content a {
            font-size: 2em;
            color: #333;
          }
          
           .Rtable-cell--content .webinar-date {
            font-weight: 700;
          }
  
  /* Responsive
  ==================================== */
  @media all and (max-width: 750px) {
    .is-striped {
      background-color: white;
    }
    
    .Rtable--collapse  {
      display: block;
      width: 100%;
      padding: 1em;
      box-shadow: none;
    }
      .Rtable-row {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2em;
        box-shadow: 0 0 40px rgba(0,0,0,0.2);
    }
        .Rtable-cell {
          width: 100% !important;
          display: flex;
          align-items: center;
    }
          .Rtable-cell--heading {
            display: inline-block;
            flex: 1;
            max-width: 120px;
            min-width: 120px;
            color: #43BAC0;
            font-weight: 700;
            border-right: 1px solid #ccc;
            margin-right: 1em;
          }
  
          .Rtable-cell--content {
            flex: 2;
            padding-left: 1em;
          }
      
      .topic-cell {
        background-color: #43BAC0;
        color: white;
        font-weight: 700;
        order: -1;
    }
        .Rtable-cell--content {
          padding-left: 0 !important;
        }
      
      .Rtable-row--head {
        display: none;
      }
  
  .no-flexbox .Rtable {
    display: block;
    }
    .Rtable-cell {
      width: 100%;
    }

}
/*
    ========================================
    Footer
    ========================================
  */

  footer {
    width: calc(100% - 80px);
    padding: 20px 40px;
    background-color: #f2f2f2;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-size: 16px;
    color: #055902;
    line-height: 30px;
}

@media only screen and (min-width: 1000px) {
    .footer {
        color: #055902;
        font-size: 14px;
        padding: 20px 0;
        
      }
      .footer small {
        float: left;
        font-weight: 400;
      }
      footer ul {
        width: fit-content;
        float: right;
        
    }
    footer ul li {
        display: inline-block;
        margin: 10px;
    }
}

